.RosterItem__expanded._1XONa {
    display: block;
    height: auto;
    border-bottom: 1px dashed #dadada;
    margin-bottom: 12px;
}

span.RosterItem__displayName.npDJC {
    top: 20%;
}

input.volume {
    width: 100%;
}